<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Lokisalle mets à votre disposition un grand nombre de salles de réunion en france et dans le monde">
  <meta name="keywords" content="Lokisalle, location, salles, réunion, andreaspaita, ifocop">
  <title>LOKISALLE</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="stylecolor.css">

  <script src="script.js"></script>
 
  <link rel="" href="">
</head>
	<body>
		<div id="blocpage">
				 <header> 
				 	
				 	<div id="header_logo" class="">
						<h1>Loki<span class="logo">Salle</span></h1>
						<p id="slogan">La Location d'on vous avez besoin</p>
					</div>
					<div id="header_profile">
						<p id="texte_utilisateur_header">bonjour<span>&nbsp;admin</span></p>

					</div>
					
					
				</header>
				
				
					<nav class="nav">
					  		<ul class="nav_ul" >
					  			<li class="nav_ul_li"><a class="nav_ul_li_a" href="">Accueil</a></li>
					  			<li class="nav_ul_li" ><a class="nav_ul_li_a" href="">Réservation</a></li>
					  			<li class="nav_ul_li" ><a class="nav_ul_li_a" href="">Recherche</a></li>
					  			<li class="nav_ul_li" ><a  class="nav_ul_li_a" href="">Crée compte</a></li>
					  			<li class="nav_ul_li" ><a  class="nav_ul_li_a" href="">Panier</a></li>
					  			<li class="nav_ul_li" ><a  class="nav_ul_li_a" href="">autre</a></li>
					  		</ul>
					  	</nav>
	<div id="danger"></div>

				<div id="contener">
			<form method="post">
				<input  type="text"class="" id="" placeholder="pseudo" name="pseudo"  value=""/><br/>
				<input  type="text"class="" id="" placeholder="mdp" name="mdp" value=""/><br/>
				<input  type="text"class="" id="" placeholder="nom" name="nom" value=""/><br/>
				<input  type="text"class="" id="" placeholder="prenom" name="prenom" value=""/><br/>
				<input  type="mail"class="" id="" placeholder="email" name="email" value=""/><br/>
				<label>sexe</label><br/>
				<input  type="radio"class="" id="" name="sexe" value="H"/>Homme<br/>
				<input  type="radio"class="" id=""  name="sexe" value="F"/>Femme<br/>
				<input  type=""class="" id="" placeholder="ville" name="ville" value=""/><br/>
				<input  type=""class="" id="" placeholder="cp" name="cp" value=""/><br/>
				<input  type=""class="" id="" placeholder="adresse" name="adresse" value=""/><br/><br/>

				<input type="submit" value"inscription" id="" ><br/>
				



			</form>
					
				</div>
		</div>
	</body>
</html>