<h2>Plan du site Lokisalle</h2>
<div id="palnducitebloc">
	<div class="blocuniquePlanDuSite">
		<h3 class="h3plansdusite">SERVICE</h3>
		<p>>>Acceuil</br>
		<p>>>Réservation</br>
		<p>>>Recherche</br>
		<p>>>M'inscrire</br>
		<p>>>Me Connecter</br>
		<p>>>Mots de passe oublié</br>
	</div>

	<div class="blocuniquePlanDuSite" id="bloc2">
		<h3 class="h3plansdusite">ACCESSIBILITÉ</h3>
		<p>>>Nous Contacter</br>
		<p>>>S'inscrire à la newsletter</br>
		<p>>>Plan du Site</br>
		<p>>>M'inscrire</br>
		<p>>>Mentions légales</br>
		<p>>>Conditions générales de vente</br>
	</div>
</div>
<style >
#palnducitebloc
{
	width: 100%;
/*height: 450px;*/
}
.h3plansdusite
{
	width: 275px;
	height: 50px;
	color: black;
	background-color: #D37B0A;
	text-align: center;
	font-size: 15px;
	line-height: 50px;
	font-family: arial;
}
.blocuniquePlanDuSite
{
	width: 275px;
	height: 275px;
	background-color: grey;
}
#bloc2
{
	margin-top: -290px;
	margin-left: 300px;
}



</style>

